*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3% 0;
}

h1 {
  font-size: 5rem;
}

.container {
  background-image: url("../images/catch/fondo1024x576.jpg");
  width: 1024px;
  height: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #a9a5a5;
}

.done {
  background-position: center;
}

.done:hover {
  cursor: not-allowed;
}

section div {
  width: 170px;
  height: 70px;
  background-size: contain;
  background-image: url("../images/catch/kindpng_2487828.png");
  background-repeat: no-repeat;
}

section div:hover {
  cursor: url("../images/catch/Master_Ball_Origin.png"), auto;
}

.rocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 59px;
}

.position0 {
  margin-left: 217px;
  background-image: url("../images/catch/question_mark80x80.png");
}

.position1 {
  margin-right: -22px;
  background-image: url("../images/catch/question_mark80x80.png");
}

.medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.position3 {
  margin-right: 20px;
  margin-left: 38px;
}

.position4 {
  margin-left: 97px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.position6 {
  margin-left: -10px;
}

.position7 {
  margin-left: -68px;
}

.position9 {
  margin-right: -29px;
}

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character p {
  margin-left: 25px;
  width: 76%;
  padding: 5px;
  border: 2px solid black;
}

.character-container-img {
  width: 400px;
  height: 200px;
}

.character-container-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.character-container-pokeball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 50px;
}

.character-container-pokeball span {
  background-image: url("../images/catch/Master_Ball_Origin.png");
  width: 40px;
  height: 40px;
}

.endgame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.endgame button {
  width: 100px;
}

.endgame button:hover {
  width: 120px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.back-pokedex {
  margin: 100px 50px;
}

.back-pokedex button {
  width: 60px;
  height: 60px;
  background-image: url("../images/arrow-circle-up_blue.png");
  background-size: contain;
  cursor: pointer;
}

.button-endgame {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.button-endgame:hover {
  -webkit-box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
          box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-endgame {
    padding: 0 2.6rem;
  }
}
/*# sourceMappingURL=catch.css.map */