@import "reset";

body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(169, 165, 165);
}

header{
    margin: 5% 0;
}

h1{
    font-size:3rem;
   
}

main{
    display:flex;
    flex-direction:column;
}

.scoreboard{
    background-color: rgb(214, 123, 59);
    margin: 50px;   
    display: flex;
    width:250px;
    font-size: 2rem;
    justify-content: space-evenly;
}

.container-scoreboard{
    display: flex;
    flex-direction:column;
    margin-top:3%;
    align-items: center;
}

.container{
    width:800px;
    display:flex;
    flex-direction:column;
    background-color: rgb(18,117,156) ;
    border: 1px solid rgb(3, 60, 83);

}

.row1, .row2, .row3{
    width:100%;
    height:150px;
    display: flex;
    align-items: center;
    z-index: 600;

    
}

@keyframes goUp {
    0% {height: 0px;}
    50% {height:120px}
    100%{height:0px}
}

.animated{
    animation-name: goUp;
    animation-duration:1.5s; 
}

.fish{
   background-image: url('../images/magikarp/magikarp_138x150.png');
    width:138px;
    z-index: 0;
}

.row1{
    background-image: url('../images/magikarp/FormGraphics_06.png');
    margin-bottom: -5%;
    justify-content:space-between;
}

#position0, #position1, #position2, #position3, #position4, #position5 :hover{
    cursor:grab;
}

#position1{
    margin-right:70px;
    align-self: flex-end;  
}


.row2{
    background-image: url('../images/magikarp/FormGraphics_06_reverse.png');
    margin-bottom:-4%;
    justify-content: space-evenly;
}

.row3{
    justify-content: space-around;
    background-image: url('../images/magikarp/FormGraphics_06.png');
}

#position4{
    align-self:flex-end;
    margin-left: -120px;
}

#position5{
    margin-right: -150px;
}

.back-pokedex{
    margin:100px 50px;
    align-self: flex-start;
    
    button{
        width: 60px;;
        height:60px;
        background-image: url("../images/arrow-circle-up_blue.png") ;
        background-size: contain ;
        cursor: pointer;
    }
}

.begin{
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    line-height: 1.75rem; /* 28px */
    padding: 1rem 1.25rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .begin:hover {
    box-shadow: none;
  }
  
  @media (min-width: 1024px) {
    .begin {
      font-size: 1.5rem; /* 24px */
      padding: 1rem 1.5rem;
      line-height: 2rem; /* 32px */
    }
  }



