@import "reset";

body{
    display: flex;
    flex-direction: column;
    align-items:center;
}

header{
    margin: 5% 0;
}

h1{
    font-size:3rem;
   
}

main{
    display:flex;
    flex-direction:column;
}

.scoreboard{
    background-color: blueviolet;
    display: flex;
    width:250px;
    font-size: 2rem;
    justify-content: space-evenly;
}

.container-scoreboard{
    display: flex;
    flex-direction:column;
    margin-top:3%;
    align-items: center;
}

.container{
    width:800px;
    display:flex;
    flex-direction:column;
    background-color: rgb(18,117,156) ;
    border: 1px solid rgb(3, 60, 83);

}

.row1, .row2, .row3{
    width:100%;
    height:150px;
    display: flex;
    align-items: center;
    z-index: 600;

    
}

@keyframes goUp {
    0% {height: 0px;}
    50% {height:120px}
    100%{height:0px}
}

.animated{
    animation-name: goUp;
    animation-duration:1.5s; 
}

.fish{
   background-image: url('../images/magikarp/magikarp_138x150.png');
    width:138px;
    z-index: 0;
}

.row1{
    background-image: url('../images/magikarp/FormGraphics_06.png');
    margin-bottom: -5%;
    justify-content:space-between;
}

#position0, #position1, #position2, #position3, #position4, #position5 :hover{
    cursor:grab;
}

#position1{
    margin-right:70px;
    align-self: flex-end;  
}


.row2{
    background-image: url('../images/magikarp/FormGraphics_06_reverse.png');
    margin-bottom:-4%;
    justify-content: space-evenly;
}

.row3{
    justify-content: space-around;
    background-image: url('../images/magikarp/FormGraphics_06.png');
}

#position4{
    align-self:flex-end;
    margin-left: -120px;
}

#position5{
    margin-right: -150px;
}

.back-pokedex{
    margin:100px 50px;
    align-self: flex-start;
    
    button{
        width: 60px;;
        height:60px;
        background-image: url("../images/arrow-circle-up_blue.png") ;
        background-size: contain ;
        cursor: pointer;
    }
}



