@import "reset";

h2{
    text-align: center;
}


.container{
    display:flex;
    flex-direction:column;
    width:100vw;
    
    

}

.filters{
    display:flex;
    background-color: bisque;
    height: 25vh;
    width: 100vw;
    
}



#pokedex{
    width: 100vw;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
}

.pokedex-card{
    display: flex;
    flex-direction: column;
    width: 20vw;  

    &--image{
        object-fit: contain;
        width: 100%;
        height: 100%;

    
        &-container{
            width:100%;
            height:70%;
            background-color: forestgreen;
            border-radius:8px;
            border: 1px solid black;
        }

    }

}

.option-types{
    width: 20%;
}









