@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Miltonian&family=Miltonian+Tattoo&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: 'Miltonian Tattoo', cursive;
  background-color: #60bef1;
}

h1 {
  font-size: 7rem;
  text-align: center;
  margin: 7% 0;
}

p {
  text-transform: capitalize;
}

h2 {
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}

.minijuegos {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
  margin-top: 10%;
  border-top: 3px solid #520202;
  border-bottom: 3px solid #520202;
  background-color: #c70d33;
}

.minijuegos a, .minijuegos span {
  margin: 3%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  border-bottom: 80px solid #c70d33;
}

#pokedex {
  width: 100vw;
  background-color: #a9a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 300px;
}

li:hover {
  background-color: #b2ad7f;
}

.pokedex-card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  height: 200px;
  cursor: pointer;
  margin: 50px;
  border: 10px solid #e9e5e5;
  background-color: #a2b9bc;
  font-size: 18px;
}

.pokedex-card-details-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  height: 100px;
}

.details-header__img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 10px solid #e9e5e5;
  border-bottom: 10px solid #e9e5e5;
}

.details-header__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.details-header__info {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.details-header__info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.details-header__info p {
  margin-left: 5px;
}

.details-header__id {
  width: 87%;
  text-align: right;
}

.container-abilities {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-abilities div {
  margin: 0 20px;
  margin-top: 5px;
}

.container-abilities h3 {
  text-decoration: underline;
  margin-bottom: 2px;
}

.pokedex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 100px;
  cursor: pointer;
  margin: 50px;
  border: 10px solid #e9e5e5;
  background-color: #a2b9bc;
}

.pokedex-card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pokedex-card--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.pokedex-card--image-container {
  width: 80%;
  height: 70%;
  background-color: #60bef1;
  border-radius: 8px;
  border: 1px solid black;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #c70d33;
  height: 25vh;
  width: 100vw;
}

.option-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.option-types-checkbox {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  cursor: pointer;
}

.option-types-container {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-left: 30px;
}

.search-bar, .sort {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort select {
  background-color: #eb4969;
  margin-left: 10px;
}

.grass {
  background-color: #38BF4B;
}

.bug {
  background-color: #83C300;
}

.dark {
  background-color: #5B5466;
}

.dragon {
  background-color: #006FC9;
}

.electric {
  background-color: #FBD100;
}

.fairy {
  background-color: #FB89EB;
}

.fighting {
  background-color: #E0306A;
}

.fire {
  background-color: #FF9741;
}

.flying {
  background-color: #89AAE3;
}

.ghost {
  background-color: #4C6AB2;
}

.ground {
  background-color: #E87236;
}

.ice {
  background-color: #4CD1C0;
}

.normal {
  background-color: #919AA2;
}

.poison {
  background-color: #B567CE;
}

.psychic {
  background-color: #FF6675;
}

.rock {
  background-color: #C8B686;
}

.steel {
  background-color: #5A8EA2;
}

.water {
  background-color: #3692DC;
}
/*# sourceMappingURL=style.css.map */