@import "reset";


.container{
    display:flex;
    flex-direction:column;
    width:100vw;
    
    

}

.filters{
    display:flex;
    background-color: bisque;
    height: 25vh;
    width: 100vw;
    
}



#pokedex{
    width: 100vw;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
}

.pokedex-card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    
}



